/* 
color-primero:#5072A7;
color-segundo:#0070BB;
color-tercero:#009000;
color-cuarto:#5455EB;
color-quinto:#97A2BF;

*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../imagenes/fondo.jpg);  
    background-size: cover;
    display: flex;
    flex-direction: column;
    
}


.lista{ 
    list-style: none;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color:#009000 ;
    

} 

.lista li{
    margin-bottom: 10px;
    padding: 10px;
}

.link{
    color: #97A2BF;
    text-decoration: none;
    font-weight: bold;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.label{
    margin: 5px 0;
    width: 45%;

}

.input{
    padding: 10px;
    width: 40%;
}

.btn-enviar, .btn-borrar{
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    
}

.btn-enviar{
    background-color: #009000;
}
.btn-borrar{
    background-color: red;

}

.footer{
    text-align: center;
    background-color: #97A2BF;
    display: block;
    padding: 5px;
    font-weight: bold;
}

@media (min-width: 992px){
    .label{
        
        text-align: center;
    
    }
    
.footer{
    text-align:justify;
    background-color: #354164;
    display: flex;
    padding: 70px;
    justify-content: center;
   
}

}